@model List<Product>
<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Manage Products</h3>
        <button class="btn btn-primary" onclick="location.href='Admin/CreateProduct'">+ Add Course</button>
    </div>

    <div class="card">
        <div class="card-body">
            <table class="table table-bordered table-hover table-striped">
               
                @if (Model.Count()>0)
                {
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Course in Model)
                        {
                            <tr>
                                <td>@Course.Id</td>
                                <td>@Course.Name</td>
                                <td>@Course.Description</td>
                                <td>Rs.@Course.Price</td>
                                <td><img src="@Course.Image" alt="Product" class="img-fluid" width="50"></td>
                                <td>
                                    <a class="btn btn-info btn-sm" asp-controller="Admin" asp-action="getProductId" asp-route-CourseId="@Course.Id">View</a>

                                    <a class="btn btn-warning btn-sm" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@Course.Id">✏️ Edit</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Admin" asp-action="DeleteCourse" asp-route-id="@Course.Id">❌ Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                }else{
                    <div class="d-flex justify-content-center">
                        <img src="~/Images/404.gif" alt="Alternate Text" class="img-fluid" />
                    </div>
                }
                
            </table>
        </div>
    </div>
</div>